body{
    background-color: tomato;
    background-image: url("spiral22.jpg");
}
h1{
    position: relative;
}
table, th, td {
    border: 1px solid black;
 } 
 
    
 input[type=text], select {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.home{
    background-image: url("spiral22.jpg");
}